<table>
  <caption><%= @track.name %>-<%= @track.config.presence || '默认' %>-圈速榜</caption>
  <thead>
    <tr>
      <th>排名</th>
      <th>车手</th>
      <th>车辆</th>
      <th>圈速</th>
      <th>cuts</th>
    </tr>
  </thead>
  <tbody>
<% @laps.each_with_index do |lap, index| %>
  <tr>
    <td><%= index + 1 + (@laps.current_page - 1) * @laps.limit_value %></td>
    <td><%= lap.driver_name %></td>
    <td><%= lap.car_model %></td>
    <td><%= ms_to_str lap.time %></td>
    <td><%= lap.cuts %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= paginate @laps %>
